@import url(reset.css);

html {
  --s: 100px;
  /* control the size */

  --_g: #0000 90deg, #00000022 0;
  background: conic-gradient(
        from 90deg at 2px 2px,
        var(--_g)
      )
      0 0 / var(--s) var(--s),
    conic-gradient(
        from 90deg at 1px 1px,
        var(--_g)
      )
      0 0 / calc(var(--s) / 5) calc(var(--s) / 5);
}

// #container {}

.box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  position: absolute;
  left: 0;
  top: 0;

  &.a {
    background: green;
    z-index: 1000;
  }

  &.b {
    background: blue;
    z-index: 900;
  }

  &.c {
    background: orange;
    z-index: 800;
  }
}
